{% extends 'base.html' %}
{% load tailwind_filters %}


{% block title %}
    New Article
{% endblock title %}
    


{% block body %}
    <div class="py-8">
        <div class="container mx-auto text-white">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg px-5 py-2.5 text-center m-auto" value="Add">
            </form>
        </div>
    </div>
{% endblock body %}
    