{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}
    Sendded On Email
{% endblock title %}



{% block body %}
    <div class="bg-indigo-50 text-indigo-900 p-5 rounded-lg text-center">
        <h1 class="text-bold p-5">Password Reseted</h1>
        <a href="{% url 'login' %}" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center m-auto">Login</a>
    </div>
{% endblock body %}
    